<div class="continer">
  <div class="row my-3 ml-5">
    <h4 style="background-color: #dcdcdc;">　投稿一覧　</h4>
  </div>

  <div class="row">
    <div class="col-sm-10 px-sm-0 offset-sm-1">
      <table class="table">
        <thead>
          <tr bgcolor="#dcdcdc">
            <th>投稿ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>プロフィール画像</th>
            <th>投稿画像</th>
            <th>テキスト</th>
          </tr>
        </thead>
        <% @tweets.each do |tweet| %>
        <tr>
          <td><%= tweet.id %></td>
          <td><%= link_to tweet.user.name, admin_tweet_path(tweet) %></td>
          <td><%= tweet.user.email %></td>
          <td><%= image_tag tweet.user.get_profile_image(100,100), class: "img-thumbnail" %></td>
          <td><%= image_tag tweet.get_image, class: "img-thumbnail", size: "100x100" %></td>
          <td><%= tweet.text %></td>
        </tr>
        <% end %>
      </table>
      <%= paginate @tweets %>
    </div>
  </div>
</div>