<table>
  <tbody>
    <% tweet.tweet_comments.each do |tweet_comment| %>
    <tr>
      <td>
        <%= link_to user_path(tweet_comment.user) do %>
          <%= image_tag tweet_comment.user.get_profile_image(100,100), class: "img-thumbnail" %><br>
          <%= tweet_comment.user.name %>
        <% end %>
      </td>
      <td><%= tweet_comment.comment %></td>
      <td>
        <% if tweet_comment.user == current_user %>
          <%= link_to "削除", tweet_tweet_comment_path(tweet, tweet_comment), method: :delete, class: "btn btn-sm btn-danger float-end", remote: true %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>