<!-- ユーザーの詳細  -->
<div class="continer py-2">
  <div class="row mb-2 ml-4">
    <div class="col-2">
      <h2 style="background-color: #dcdcdc;">マイページ</h2>
      <% if @user == current_user %>
        <%= link_to "プロフィール編集", edit_user_path, class:"btn btn-success" %>
      <% end %>
    </div>
    <div class="col-2">
        <h2><%= @user.name %></h2>
        <%= image_tag @user.get_profile_image(100,100) %>
    </div>
        <div class="col-2">
          <% unless @user.id == current_user.id %>
            <% if (current_user.following? @user) && (@user.following? current_user)  %>
            <% if @isRoom == true %>
              <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">DM</a>
            <% else %>
              <%= form_for @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, value: @user.id %>
                <% end %>
                <%= f.submit "DM", class:"btn btn-primary btn-lg user-show-chat"%>
              <% end %>
            <% end %>
            <% end %>
          <% end %>
          <%= link_to "いいねした投稿",favorites_user_path(@user), class:"btn btn-success" %>
          <%= render "user/relationships/btn", user: @user %>
        </div>
    </div>
  </div>
<!-- ユーザーの投稿一覧 -->
      <%= render "user/tweets/list", tweets: @tweets, user: @user %>