<% tweets.each do |tweet| %>
  <div>
    <%= link_to tweet_path(tweet) do %>
      <%= image_tag tweet.get_image %>
    <% end %>
    <p>プロフィール画像：<%= image_tag tweet.user.get_profile_image(100,100) %></p>
    <p>投稿テキスト<%= tweet.text %></p>
    <p>ユーザーネーム:<%= tweet.user.name %></p>
    <P id="comment_counter">
      コメント数:<%= tweet.tweet_comments.count %>
    </P>
    <p>フォロー数:<%= link_to tweet.user.followings.count, user_followings_path(tweet.user) %></p>
    <p>フォロワー数:<%= link_to tweet.user.followers.count, user_followers_path(tweet.user) %></p>
    <p id="favorite_btn_<%= tweet.id %>">
    <%= render "user/favorites/btn", tweet: tweet %>
    </p>
    <p><%= render "user/relationships/btn", user: tweet.user %></p>
    <p class="comment_index">
      <%= render "user/tweet_comments/index", tweet: tweet %>
    </p>
    <p><%= render "user/tweet_comments/form", tweet: tweet, tweet_comment: @tweet_comment %></p>
  </div>
<% end %>