<div class="continer p-5 mb-5">
  <div class="row mb-5 ml-5">
      <h1 style="background-color: #dcdcdc;">投稿フォーム</h1>
  </div>

  <div class="row mb-4">
    <%= form_with model:@tweet, local: true do |f| %>
      <div class="input-group mb-3 mt-4">
        <%= f.file_field :image, class:"form-control",accept: "image/*" %>
      </div>
      <%= f.label :テキスト %>
      <%= f.text_area :text, class: "form-control", size: "20x10" %>
      <%= f.submit '投稿' , class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>