<div class="continer">
  <div class="row my-3 ml-5">
    <h4 style="background-color: #dcdcdc;">コメント一覧</h4>
  </div>

  <div class="row">
    <div class="col-sm-10 px-sm-0 offset-sm-1">
      <table class="table">
        <thead>
          <tr bgcolor="#dcdcdc">
            <th>コメントID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ツイートID</th>
            <th>コメント</th>
          </tr>
        </thead>
        <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.id %></td>
          <td><%= link_to comment.user.name, admin_tweet_comment_path(comment.id) %></td>
          <td><%= comment.user.email %></td>
          <td><%= comment.tweet.id %></td>
          <td><%= comment.comment %></td>
        </tr>
        <% end %>
      </table>
      <%= paginate @comments %>
    </div>
  </div>
</div>