<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="/"><span>Fishing</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <!--管理者ログイン時のヘッダー-->
        <% if admin_signed_in? %>
          <li>
            <%= link_to admin_users_path, class: 'nav-link text-light' do %>
              Users
            <% end %>
          </li>
          <li>
            <%= link_to admin_tweets_path, class: 'nav-link text-light' do %>
              Tweets
            <% end %>
          </li>
          <li>
            <%= link_to admin_tweet_comments_path, class: 'nav-link text-light' do %>
              Comments
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
              Log out
            <% end %>
          </li>

        <!--ユーザーログイン時のヘッダー-->
        <% elsif user_signed_in? %>
          <li>
            <%= link_to  new_tweet_path ,class: 'nav-link text-light' do %>
               Tweet
            <% end %>
          </li>
          <li>
            <%= link_to tweets_path ,class: 'nav-link text-light' do %>
              Tweets
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user.id), class: 'nav-link text-light' do %>
              My Page
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
              Log out
            <% end %>
          </li>
        <% else %>
          
          <!--ログイン前のヘッダー-->
          <li>
            <%= link_to root_path, class: 'nav-link text-light' do %>
              Home
            <% end %>
          </li>
          <li>
            <%#= link_to home_about_path, class: 'nav-link text-light' do %>
              About
            <%# end %>
          </li>
          <li>
            <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
              Sign up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
              Sign in
            <% end %>
          </li>
          <li>
            <%= link_to users_guest_sign_in_path, method: :post, class: 'nav-link text-light' do%>
              ゲストログイン
            <% end %>
          </li>
        <% end %>
      </div>
    </div>
  </nav>
</header>